[2015-10-28 19:44] dhanvi opened #1 "hackercouch.com shows 404"

[2015-10-29 06:38] captn3m0 commented on #1
Isn't launched yet. I need to make a few more changes before adding the CNAME file.

[2015-10-29 16:49] dcht00 commented on #1
Following this!

Also see (and please update): http://totalism.org/alike - an overview of hackerbases, nomadbases, eco villages, and other stuff.

[2015-11-08 21:43] #1 closed

[2015-11-08 21:53] captn3m0 commented on #1
This is finally live :shipit:

[2015-11-23 06:12] chettyarun opened #7 "Re-Designing HackerCouch"
I want to take the task of re-designing the UI of HackerCouch. Will work on this mostly during my free time (weekends).

Tools I will use:
* Sketch
* Adobe Illustrator
* Invisionapp

I will post the invision project link by this next Sunday (28th November, 2015). Please do pitch in and give your feedback in the invisionapp comments section.

[2015-11-29 16:31] simison opened #10 "Kudos"
I feel like the original would serve some kudos at readme, what do you think? :-)

https://github.com/jancborchardt/hackercouch

[2015-11-29 19:06] captn3m0 commented on #10
Yup, totally makes sense. Will add asap :+1:

[2015-11-29 19:22] captn3m0 commented on #10
Added links to the readme and a new /related.html page as well.

Thanks!

[2015-11-29 19:22] #10 closed

[2015-11-29 19:36] simison commented on #10
Thanks @captn3m0!

FYI, @jancborchardt: https://github.com/captn3m0/hackercouch/commit/0e823fd91630cccbdcd14e1711f1bb6d8ff81ecc

[2015-11-30 08:49] jancborchardt commented on #10
Thanks homies! :) Always good to give and receive credit. And good to see the Hackercouch spirit being developed further!

[2015-11-30 12:19] Akeru opened #23 "Add Reference System"
As discussed on HN, a reference system would make both surfers and hosts feel more comfortable.

[2015-11-30 12:24] Akeru opened #24 "Add Request Management"
It might be required to add some kind of layer between hosts and potential guests regarding communications. For a start maybe add a preferred contact method. On the long term, integrate with some messaging api ?

[2015-11-30 12:31] Akeru opened #25 "Globe with meridians rendering"
The globle unicode caracter is not rendered on my machine (linux+chrome+helvetica)

[2015-11-30 12:33] Akeru commented on #7
Some design ideas :
- Protect emails with captcha
- Add support for gravatars
- Add support for sorting / filtering. Would be helpfull if the list becomes longer.
- Replace country name with nice flags

[2015-11-30 13:49] jancborchardt opened #26 "Logo"
Yo @captn3m0 :) since you used the concept of https://github.com/jancborchardt/hackercouch and push it forward, I’d be cool with you using the logo as well:
![](https://raw.githubusercontent.com/jancborchardt/hackercouch/master/hackercouch.png)
(SVG source in the repo)

[2015-11-30 14:01] chettyarun commented on #7
Great! Love these ideas. Will surely pin them down in my wireframes.

[2015-11-30 14:17] captn3m0 commented on #26
Thats a cool logo. Thanks. I'll add it to the favicon soon and @chettyarun can incorporate it into the design when he works on #7.

[2015-11-30 15:21] captn3m0 commented on #7
I don't see the point of this. The repo can be cloned anytime to get the original email address anyway.

The rest all seem like good ideas.

[2015-11-30 15:23] captn3m0 commented on #25
Rest of the icons are via some icon-font thing. I need to find a similar icon in there.

[2015-11-30 15:24] chettyarun commented on #7
Cool then. I will add the last three points to my list.

[2015-11-30 15:26] captn3m0 commented on #23
The first thing to do would be to add links to your profiles (verified somehow) on other websites. However, then verifying profiles falls on me, which is a responsibility I'd rather not have.

We could do something like keybase and have generated proofs to be shared on your other profiles. This could even be automated to a certain degree, I guess.

The other obvious solution is to have people leav

[2015-11-30 15:29] captn3m0 commented on #24
I had started out with a free form "contact" field, but later shifted to email because it was easier to implement. We just need to make sure that there is one way of contacting the person (via facebook/email/telegram/whatever).

Setting up a proxy email is not of that much use really, because you have given away your identity by committing itself. The commit already has your email address, so if s

[2015-11-30 15:36] Akeru commented on #7
@captn3m0 indeed, captchas are useless, my bad.

[2015-11-30 15:38] Akeru commented on #25
Font Awesome has a great globe icon : http://fortawesome.github.io/Font-Awesome/icon/globe/ (and actually all the others needed)

[2015-11-30 16:00] captn3m0 opened #29 "Nofollow"
I personally don't like using `rel=nofollow`, but wanted to hear others opinion on the matter.

[2015-11-30 17:30] BeOleg opened #31 "Implement couch surfing profile reference field"
So... we are all developers... but... some of us might want to know what were the experiences previously staying with that person, or perhaps even write the review, in case the experience was meaningful enough.

[2015-11-30 17:33] captn3m0 commented on #31
Being discussed at #23

[2015-11-30 17:33] #31 closed

[2015-11-30 17:36] BeOleg commented on #23
as described in #31, a reference to couch surfing should simply do it for now...

I think that internal reviews can be implemented as pull requests as well, but in a more sophisticated way... maybe as a yml file in a dir that is getting read by a js ajax script and rendered by some template engine like moustache (or in the back end).

[2015-11-30 17:47] abhshkdz opened #32 "Add gravatar"
It might be a good idea to add user images via gravatar?

[2015-11-30 18:24] captn3m0 commented on #32
Yes, somebody suggested it in a different thread as well. Does it make sense to have it in homepage as well?

Also, another similar point on formatting: Should I use `name` in the home page listing (It currently uses nicks)?

[2015-11-30 18:46] abhshkdz commented on #32
Looking at how the list is growing, the homepage at least needs some sort of location-based filtering/search. I'm okay with or without images on homepage. Nicks look fine to me on homepage.

[2015-11-30 18:48] ppaeps commented on #23
On 2015-11-30 20:56:39 (+0530), Nemo notifications@github.com wrote:

Or if you don't like someone, or have a bad experience or whatever, just
submit a patch to remove or annotate their couch description?

Ratings are impossible to get right.  If you've got five stars, what
does a rating of 2-4 stars mean?  Either you had a good / acceptable
time and everyone is mostly happy or you had a terrible

[2015-11-30 18:52] ppaeps commented on #32
On 2015-12-01 00:16:18 (+0530), Abhishek Das notifications@github.com
wrote:

Or a shell script wrapper around grep in the repository.  I may have
inadvertently started hacking one up this afternoon.  I'll share a patch
when it's more complete than `exec grep "$@"`.

:)

It's _hacker_couch, right?  Surely we're a lot more comfortable
searching in our terminals than in our web clients.

##

Philip

[2015-11-30 18:56] ppaeps commented on #29
On 2015-11-30 21:30:41 (+0530), Nemo notifications@github.com wrote:

What problem would be solved by preventing automated clients from
following links?

Presumably links in couch descriptions can be trusted because they've
been added as patches and merged by (more or less ;)) trustworthy
collaborators.

##

Philip Paeps
Senior Reality Engineer
Ministry of Information

[2015-11-30 19:03] ppaeps commented on #24
On 2015-11-30 17:54:49 (+0530), Axel Bodart notifications@github.com
wrote:

The simplicity of "email me to surf my couch" is one of my favourite
hackercouch features. :)

That's not a bad idea.  I've heard rumours that there's an entire
generation of hackers out there that doesn't use email to communicate.

On the other hand: "please contact me via X to talk about sleeping on my
couch" probably w

[2015-11-30 19:18] simison commented on #23
I wonder could we somehow try to leverage issues. People should have hackercouch repository under their repos and we could leave references there? That works for positive stuff only, of course.

Negative/dangerous references should be reported here, as  @ppaeps suggests.

[2015-11-30 19:20] simison commented on #24
+1, one or multiple?

+1 keeping it simple. If someone wants to leverage reference or messaging systems, there are a lot of other services there where you can create a profile and simply link from here.

[2015-11-30 19:33] Akeru commented on #32
@abhshkdz Gravatars and sorting / filtering are already discussed in #7 as I did not want open multiple issues for the website design.

[2015-11-30 19:34] abhshkdz commented on #32
@Akeru My bad. Let's continue the discussion there. Closing this.

[2015-11-30 19:34] #32 closed

[2015-11-30 19:35] ppaeps commented on #23
On 2015-12-01 00:48:29 (+0530), Mikael Korpela
notifications@github.com wrote:

After a positive experience (whatever that means?) a patch could be
submitted to the couch profile along the lines of:

[code]

Or:

[code]

Patches work well for all cases I can think of.  They also turn into
"pull requests" on GitHub and get a discussion thread which can provide
useful insights.  If it's obvious the

[2015-11-30 19:40] simison commented on #25
I'd recommend http://fontello.com/ — you can pick any icons from there and add custom SVGs info your font file (e.g. hackercouch logo #26 )

[2015-11-30 19:48] captn3m0 commented on #23
The only issue I can think of with this flow is fake reviews. That can be countered by:
1. Making sure people leaving reviews have some form of reputation, either via a long-standing GitHub account or via some other means.

So that leaves the problem of a proper review format. Editing the same couch file, or creating a new review file and so on. But that is an easy-to-solve problem.

[2015-11-30 19:51] captn3m0 commented on #29
Sounds good. We just need to make sure that the couch descriptions and links are not too spammy. Maybe even hook it up to a spam filter? There are free spam detection APIs, and we can just run the couches through that and fail the build if needed.

[2015-11-30 19:53] simison commented on #29
Sounds something you'd want invest time when/if this actually/ becomes an issue.

[2015-11-30 19:54] captn3m0 opened #35 "Better tests"
We can do so much more with travis:

1. Make sure that the couches are in `_couches` directory
2. Make sure all files have valid extensions
3. Anti-spam mechanisms via akismet. Run all the couch content for spam checks and fail the build if the spam scores are too high.
4. Validate the couch structure itself (required/optional fields)

[2015-11-30 19:54] Akeru commented on #25
Nice ! Makes much sense.

[2015-11-30 19:54] captn3m0 commented on #29
Yeah. I've filed #35 on how to improve tests. Closing this for now, since nofollow is clearly not needed.

[2015-11-30 19:54] #29 closed

[2015-11-30 19:56] captn3m0 commented on #24
Yes, my idea is to validate that there is atleast one way to contact the person (via email/twitter whatever). If there is, we shouldn't really care about it much and leave it to the other parties to sort it out.

[2015-11-30 20:06] simison commented on #25
Just made a config file for you to use:

[code]

You can use this with https://github.com/railslove/fontello_rails_converter

[2015-11-30 20:19] simison opened #37 "Add chat"
@pierreozoux offered to host [Rocket chat](https://rocket.chat/) instance at his [IndieHosters](https://indiehosters.net/) servers for free.

We already have [#hackercouch](irc://irc.freenode.net/hackercouch) at Freenode, but it's rather quiet due we're all on/off randomly at different timezones and IRC isn't as popular as it used to be in 90's. :-) It's also possible to link these two so it would

[2015-11-30 20:35] ppaeps commented on #35
On 2015-12-01 01:24:06 (+0530), Nemo notifications@github.com wrote:

I've made a start on _2_ in pull request #36.  Not sure how to go about
_1_.  Is this travis contraption like a Git `pre-receive` hook?  Just
adding a check for new files outside `_couches` is probably a lot too
naive. ;)

[2015-11-30 20:43] captn3m0 commented on #35
Yes, travis just runs the cibuild script and fails the build if it returns non-zero.

Yeah, checking outside couches seems a bit excessive. I should pay a bit more attention before clicking the Merge button, thats all.

[2015-11-30 20:46] simison opened #38 "Link to other hospex networks"
Add profile links to the most popular ones:
- [Couchsurfing](https://www.couchsurfing.com/) (`https://www.couchsurfing.com/people/USERNAME`)
- [BeWelcome](http://bewelcome.org/) (`http://www.bewelcome.org/members/USERNAME`, note http)
- [Warmshowers](https://www.warmshowers.org/) (`https://www.warmshowers.org/user/NUMERIC-USER-ID`)
- [Trustroots](https://www.trustroots.org/) (`https://www.trustroo

[2015-11-30 20:50] captn3m0 commented on #37
Thanks for the reminder.

/me goes and joines #hackercouch

[2015-11-30 20:52] captn3m0 commented on #25
:100: Thanks. I'll get to this tomorrow.

[2015-11-30 21:11] captn3m0 commented on #38
Just added you to the repo collaborators, btw.

That comparison link is really helpful in thinking of possible features and ideas.

[2015-11-30 21:15] simison commented on #38
:+1: Thanks!

If you think adding these links to profiles is a good idea, I could try to tackle it and send a PR.

[2015-11-30 21:37] captn3m0 commented on #38
Yes, I think having these links is a good idea, but we need to tackle the identity theft issue where someone might just link to a different profile.

You can start working on it for sure.

[2015-11-30 21:45] simison commented on #38
There's pretty much no other way for identity theft except oAuth. That won't be possible with CS for sure, BW possibly but will take a long time, with TR probably within 6 months.

Would that work with Jekyll pages — no idea.

[2015-11-30 21:51] captn3m0 commented on #38
There is a way, by using published proofs on your profile pages. Basically, your hackercouch profile and other profile must share a common sha256 hash, generated at random. (It goes in your about description).

This was how many apps were verifying hacker news identities long before the API came around.

[2015-11-30 21:54] simison commented on #38
Ahh, good idea! We should use that at Trustroots.

[2015-11-30 22:20] simison opened #39 "Other domains"
FYI, I just registered [hackercouch.org](http://www.hackercouch.org) and [hackercouch.net](http://www.hackercouch.net) and 301 redirected them to here.

Take it as a donation. ;-)

If anyone wants access to domain control, let me know your [NameCheap](https://www.namecheap.com/) email or username here or write me mikael@ihminen.org

[2015-11-30 22:44] simison opened #40 "Add Gravatar"
- Design discussion about Gravatars #7
- Duplicate of #32 but that thread sorta went to many directions, let's keep this purely on discussing tech solution for Gravatars.

---

Seems like there are two ways to go:
- Generate Gravatar hash at the client using https://github.com/webmodules/gravatar
- Use a plugin and compile the site before deployment using a rake task: http://blog.sorryapp.com/blog

[2015-11-30 22:47] simison commented on #7
Please try to keep things organised by discussing details of a feature in separate issue threads. If some feature is confirmed from design point of view at this thread, open new issues pre feature. Above you can see Gravatar example (#32 and #40).

Discussing everything in one thread is a no-go as it's really hard to follow and reference.

Thanks for redesign effort BTW. :-) Looking forward!

[2015-12-01 03:59] ppaeps commented on #39
Cool! :-)

[2015-12-01 04:09] ppaeps commented on #7
Especially since some of us are crusty old hackers reading along by
email and GitHub doesn't actually thread messages (`References` and
`In-Reply-To:` always point to the first post in a thread).

[2015-12-01 06:12] captn3m0 commented on #40
Liquid has a `md5` hash filter: https://docs.shopify.com/themes/liquid-documentation/filters/string-filters#md5 used mostly for gravatars

[2015-12-01 06:16] simison commented on #40
Cool, that makes it pretty easy, then!

[2015-12-01 06:20] captn3m0 commented on #39
Thanks!

[2015-12-01 06:20] #39 closed

[2015-12-01 07:13] captn3m0 opened #47 "Faster edits via third-party hosting"
Discussed on #42 previously. Thought I'd create a new issue.

Current idea is to have a `gist: id` field that is embedded in the HTML via JS.

[2015-12-01 07:26] ppaeps commented on #47
As I pointed out in #42: I wonder if this is really a problem we need to
fix?

If a couch is going to be unavailable for a longer period of time `git
rm` feels like the right thing to do.  It's very easy to revert when the
couch becomes available again.

I also worry about the privacy implications of making it too easy to
express real-time couch availability.  I think it's a fine idea to
annotate

[2015-12-01 09:55] simison commented on #40
As it turns out https://github.com/captn3m0/hackercouch/pull/48#issuecomment-160916473:

[2015-12-01 09:56] simison commented on #40
Started working on this here: https://github.com/captn3m0/hackercouch/tree/gravatar — but won't have time for some two days now. Feel free to continue with this!

[2015-12-01 09:57] captn3m0 opened #50 "Use jekyll plugins?"
We are currently hosted on github-pages + Jekyll, where our build is generated by github itself on every push to `gh-pages`. However, we are restricted by this because github-pages doesn't allow custom plugins, except for a few: https://help.github.com/articles/using-jekyll-plugins-with-github-pages/

[2015-12-01 10:33] ppaeps commented on #50
I'm happy to donate a jail and address space on a well-connected machine
with lots of spare bandwidth if this becomes a serious problem.  Are we
in any immediate risk of running into the limitations of GitHub Pages?

[2015-12-01 12:16] captn3m0 commented on #50
The restrictions we are facing:
- `liquid`, the template engine we use doesn't support `md5` filters. See #48
- Hard to support both json and html formats easily on plain Jekyll. A couch can compile to just one format. I am currently thinking of hacking this via symlinks, but if we run our own builds we can push whatever we want.

Another alternative is to keep our data in the `master` branch, and

[2015-12-01 12:18] captn3m0 commented on #47
We might face issues we a lot of people hop on to hackercouch and we are not able to handle the  workload. I'm skeptical of using gists or any sort of embeds as well, because of javascript creep, but thought I'd discuss it a bit.

[2015-12-01 12:28] ppaeps commented on #50
I like this idea.  It also feels more "natural" to look for "source
code" on `master`.  It would also neatly keep everything on GitHub and
relieve us of the burden of setting up and maintaining other
infrastructure.  (At least until we run into other walls).

[2015-12-01 13:23] captn3m0 commented on #50
Sounds good, I'll work on this. Was also thinking of forking liquid and adding the filters there, but not sure if thats a good idea.

[2015-12-01 13:28] captn3m0 commented on #47
I'm closing this for now. Don't think there is a need for this

[2015-12-01 13:28] #47 closed

[2015-12-01 16:36] therebelrobot opened #51 "Map of locations"
This is so rad! Would it be possible to tie in the locations to an embedded openstreetmap? I'd love to see where all these wonderful people are spatially, and something like that can help in route planning. Also, as more people add their locations, a list alone could get a bit unwieldy by itself.

[2015-12-02 15:44] jancborchardt opened #52 "Mobile first / responsive design"
The website doesn’t work very well on small screens. There’s no reason it shouldn’t, cause it looks like you use a grid framework already. ;) Some simple media queries would be awesome.

[2015-12-02 16:52] simison commented on #52
And really quick to get done e.g. with [Angular Material](https://material.angularjs.org/latest/), [React-Material](http://www.material-ui.com/), [Bootstrap](http://getbootstrap.com/) or [Foundation](http://foundation.zurb.com/) — additionally really pretty graphs. #7

[2015-12-02 16:54] simison commented on #7
How is this coming by?

To ease everyone's work load I'd suggest to do this _as lightweight as possible_. @chettyarun I'd encourage to check some frameworks I listed at #52 and use the styles they offer directly, so that it would be very fast for anyone to develop html/css/js for this site. To give it an unique look, I'd concentrate on _colors_ and possibly one or two _illustrations_. And the logo

[2015-12-02 17:09] simison commented on #38
Done (#44)

(except confirmation stuff, feel free to open a new issue for that if you think it's important)

[2015-12-02 17:09] #38 closed

[2015-12-03 06:14] chettyarun commented on #7
I have discussed with @captn3m0 about the wireframes I made. He suggested some changes. Will post them here by this evening. I will create a project on invision and keep updating it.

I am going with material guidelines for the entire layout (A lot of documented material frameworks available on the web :-) ) The layout is pretty lightweight.

[2015-12-03 07:19] simison commented on #7
:+1: :+1: sounds really good

[2015-12-03 16:45] chettyarun commented on #7
I have worked on the basic layout of the app. Here is the invision link for the wireframe prototype https://invis.io/49567THBV

I have made a few comments on the design. Do pitch in and suggest more on this :)

[2015-12-03 17:56] simison commented on #7
Excellent! Some thoughts:
- What's the header bar with user avatar? We can't have logins.
- Do we need a place for "About | Related Projects" -navbar, up there in place of profile bar would be good? Or other method would be to add a footer area where these short bits would live?
- Should the list continue directly at front page under the "start surfing" arrow, instead of a separate page?
- Thought

[2015-12-03 18:01] simison commented on #50
So to implement e.g. search (#7):
1. Would be easier for certain features to have couches loaded via JS.
2. To do that, would be easier to use json.
3. It's easier and less error-prone to have users submit their couches as markdown.
4. To build a json-blob out of couches-markdown files, we'll need to process that file before, and thus we can include e.g. md5 hashes directly to the json file (and a

[2015-12-03 18:14] simison opened #53 "Frameworks"
Some points:
- I want to keep things super simple
- but at the same time _damn good looking_.
- It's also fun to learn new stuff and this sort of projects are excellent excuses.

Any preference framework to use for the new design (#7)?

Since the layout gives and sentiment to use Material Design and there are two major frameworks to do just that:

- http://www.material-ui.com/ (to use with [React]

[2015-12-03 18:16] simison commented on #52
I think this is going to be natural next step with #53 and #7, closing.

If we'd use something like Meteor, it would be just one command to create native installable apps... but might be a bit overkill. :-)

[2015-12-03 18:17] simison commented on #7
@chettyarun if you have any specific thoughts on how the mobile/pad version should look, let us hear! :-) (See #52)

[2015-12-03 18:18] simison commented on #26
BTW @jancborchardt wanna hack more on this repo? Let us know if you'd need push rights.

[2015-12-03 18:20] simison opened #54 "Move to an organisation"
Should we move this to an [organisation](https://help.github.com/articles/creating-a-new-organization-account/)?

Thoughts @captn3m0 @ppaeps @chettyarun @jancborchardt ?

[2015-12-03 18:55] jancborchardt commented on #52
I think it should still be kept open to make sure it’s done. ;) It’s not solved.

[2015-12-03 18:55] jancborchardt commented on #26
Sure. I’ll add the favicon and logo tomorrow when I’m on a flight or otherwise have time.

[2015-12-03 18:56] simison commented on #52
Fair enough :-)

[2015-12-03 18:57] simison commented on #26
Super. @captn3m0 wanna give commit rights for Jan? :-)

[2015-12-03 19:01] jancborchardt opened #55 "Developer setup instructions"
The readme part at https://github.com/captn3m0/hackercouch#development assumes that everyone knows how Jekyll and Travis work or will read the docs on that just to run this site. ;)

Even for a semi-technical designer such as me it’s troublesome to get the site properly running. Do I need to `jekyll serve` or `gem install` something? Would be cool if we can say that in the section in the readme di

[2015-12-03 19:02] jancborchardt commented on #55
Ah, didn’t see https://github.com/captn3m0/hackercouch/pull/49 – thanks a lot @ppaeps for thinking of less technical people! :)

[2015-12-03 19:02] #55 closed

[2015-12-03 19:29] captn3m0 commented on #50
Two things:
1. I don't want to add rake since jekyll plugins pretty much allow everything we need (such as md5 and preprocessing)
2. My plan for supporting json was to create a `_couches_json` symlink to the `_couches` directory. Then this becomes a second collection which can use a different layout. This layout will just publish the couch to json

If we need to load all couches to json, that is j

[2015-12-03 19:31] captn3m0 commented on #26
Gave commit rights to @jancborchardt and @chettyarun. The latter primarily so I can assign him tickets.

[2015-12-03 19:35] captn3m0 commented on #53
I'd much rather prefer something without JS. I have used [materializecss.com](http://materializecss.com/) [in the past](https://captnemo.in/talks/josd/) and looks pretty neat.

Is there really a need of a javascript framework for a site of this nature?

[2015-12-03 19:36] simison commented on #53
I'm not sure how to implement search or sorting (and other possible feats) without.

That said I'm open for completely static pages as well, but would love to hear some arguments first. ;-)

[2015-12-03 19:40] captn3m0 commented on #53
- I don't think there is a need of sorting, considering we don't really have any way to sort couches. (Atleast till we start taking reviews)
- Search would need javascript for sure. The two alternatives that I am aware of are [lunr.js](http://lunrjs.com/) and [search-index.js](https://github.com/fergiemcdowall/search-index).

But neither of these is complicated enough to actually need a javascript

[2015-12-03 19:42] captn3m0 commented on #7
:+1: to this. The home page should be the main website. Each couch gets its own page, but there is no point in a second page just for showing the list, especially considering that the search is JS based.

[2015-12-03 19:42] simison commented on #53
Fair enough! :-) Let's go with Materializecss, after a quick look it seems excellent for this size of a project.

[2015-12-03 19:44] captn3m0 commented on #54
So far github.com/hackercouch is available. I am completely fine either way, but i think orgs make sense if you plan to have more than 1 repo? Unless we are building an entire ecosystem around hackercouch, this seems a bit overkill to me.

[2015-12-03 19:44] simison commented on #7
^ Yet I like to give a little space before visually intensive list, so a full browser-screen sized short intro serves right. Scroll down and you're already surfing.

[2015-12-03 19:47] simison commented on #54
I'm thinking more in terms of securing continuity and team spirit. It's more of a signal rather than pragmatic need.

But I have no strong objections either way.

[2015-12-03 20:16] simison opened #57 "Spread!"
Let's collect a list of blogs / zines / other stuff where we can spread this once the new design is out (#7).

### Zines
- https://gigaom.com
- http://www.theverge.com
- http://www.dailydot.com
- http://kernelmag.dailydot.com
- http://www.vice.com
- http://www.wired.com
- https://www.wired.de
- https://news.ycombinator.com
- http://techcrunch.com
- http://arstechnica.com
- http://www.hybe.com
- ht

[2015-12-03 21:26] captn3m0 commented on #57
This is a bit too much for me, and I think I'll let you handle these bits
Don't really expect/want it to become too big.

[2015-12-03 22:16] captn3m0 commented on #50
I've pretty much implemented most of this in #56. Only the final bits and pieces for deployment are left, and I'll get to them tomorrow. I'm closing this (since we decided on shifting to plugins), so we can continue the discussion in the PR itself.

[2015-12-03 22:16] #50 closed

[2015-12-04 00:50] jancborchardt commented on #54
I’d agree. Did the same with @libreprojects and @litewrite to not have it so centered around my person.

Just went ahead and created https://github.com/hackercouch and added you to it. Also started https://twitter.com/hackercouch which I can of course give you the credentials to so we can tweet about developments and retweet couch offers/searches. :)

Especially for the upcoming [Chaos Communicati

[2015-12-04 00:58] simison commented on #54
Also, @captn3m0 said at IRC:

Because of course we _must_ have a terminal CLI. :-D

[2015-12-04 01:14] jancborchardt commented on #54
Now, if we want to move to the org, @captn3m0 you just have to move the repo. All issues etc will be kept and you are also owner of the org along with @simison @ppaeps and me. We can add more collaborators etc – I always like to be liberal there so we don’t have bottlenecks and push stuff forward.

[2015-12-04 01:16] jancborchardt opened #58 "Categorization"
To quickly know what that specific person is up to and if one could work together with them, it would be cool to be able to list some tags in their profile (max 3 or 5 I would say).

This could be code-related like javascript, c++, python, css etc or also things like design, security, ci, …

What do you think?

[2015-12-04 01:18] jancborchardt opened #59 "Profile images"
Now I know that we shouldn’t reduce people to their looks, but profile pictures just help to quickly relate to people and also remember them.

We could simply get that info from the person’s Github profile (just like we can get the location btw).

[2015-12-04 01:19] jancborchardt commented on #57
Yeah, I would also be a bit cautious of too actively promoting this. It’s an even smaller circle than Trustroots, and just overflowing it might be a bit much in the beginning?

[2015-12-04 01:19] simison commented on #59
I'll copy this to #40

[2015-12-04 01:19] #59 closed

[2015-12-04 01:20] simison commented on #40
@jancborchardt commented (https://github.com/captn3m0/hackercouch/issues/59#issue-120310806):

[2015-12-04 05:13] ppaeps commented on #54
Yes!  We must!  I've been hacking on one in the background but I got
distracted this week.  I'll push a work in progress somewhere.  Perhaps
to the new orga. ;-)

[2015-12-04 05:36] chettyarun commented on #7
@simison I do have a layout in mind for the mobile version. Wireframes for that will follow soon.
- I discussed about the login feature with @captn3m0 and then I got to know that we are not going for a dynamic model. I forgot to remove the user avatar in the header :P Sorry for that!
- I like the idea of dropping the nav bar and including links in the footer. Will edit the wireframes for this.
- R

[2015-12-04 05:36] chettyarun commented on #52
Continuing the design discussions on #7 . Easy for me to keep a track of suggestions :)

I've posted the invision link for web layout wireframes. Commenting is active on invision. Keep commenting :)

[2015-12-04 05:38] captn3m0 commented on #54
I'll move the repo as soon as I reach my laptop.

@ppaeps: The plugins branch serves json. Building a cli would be easy for
that.

@jancborchardt tweetdeck supports giving account access without sharing
credentials. Just login with hackercouch and give @captn3m0 admin access.

On Fri 4 Dec, 2015 10:43 Philip Paeps notifications@github.com wrote:

[2015-12-04 06:08] simison commented on #54
everyone; awesome!

+1 for tweetDeck.

[2015-12-04 06:32] chettyarun commented on #7
Can anyone help me with filtering options? Give me a list of tags with which we can filter out couches.

[2015-12-04 06:53] captn3m0 commented on #54
Closing this, since we have moved now :+1:

Need to make a few changes on the site + README, but I'll take care of that.

[2015-12-04 06:53] #54 closed

[2015-12-04 07:26] captn3m0 commented on #7
Ideally, there would be things like wifi, number of beds etc, but the couch format is already too stern and I don't want to add these fields there. So all we really have is Location (city+country = required, region is optional).

Don't think there is much point for filters as such. Another "creepy" idea is to add more data from the social profiles during the build and use it for filtering. Things

[2015-12-04 08:33] chettyarun commented on #7
Let's leave filtering for now. We anyway can have a search option (search for city, country, hacker name)

[2015-12-04 09:58] jancborchardt commented on #54
Yeah, nice! :) Best part about this is we get to advertise the project on our profile page! @simison set your visibility from Private to Public on https://github.com/orgs/hackercouch/people ;)

@simison if you have Tweetdeck, can you give account access to @captn3m0?

[2015-12-04 10:02] jancborchardt commented on #7
For categorization, see https://github.com/hackercouch/hackercouch/issues/58 (tags like languages and areas of work – design, security etc)

Then also we should probably get browser geolocation to suggest nearby hackers. Especially on mobile, searching and typing is annoying.

[2015-12-04 10:02] jancborchardt commented on #59
Yeh, sorry. :) Need to get into what we already have in the tracker.

[2015-12-04 10:04] chettyarun commented on #7
@captn3m0 was discussing a map feature for the app. We can include the nearby hackers feature in that.

[2015-12-04 12:00] captn3m0 commented on #58
Aha! Finally some data that lets us implement filtering. I think a `tags` key as an array of tags makes sense? This is what is used in front-matter yaml for jekyll so its kinda standard.

[2015-12-04 15:36] simison commented on #54
Added @jancborchardt and @captn3m0 to TweetDeck. Anyone else how needs access, lemme know your Twitter handle.

[2015-12-04 17:17] simison commented on #7
@chettyarun @jancborchardt what do you think if one of these Creative Commons photos would fit the front page?
- https://flic.kr/p/czrPbh
- https://flic.kr/p/63o6iW
- https://flic.kr/p/akaRmx
- https://flic.kr/p/up9HX
- https://flic.kr/p/4spCEB
- https://flic.kr/p/3hdsW
- https://flic.kr/p/7h6EJ
- https://flic.kr/p/63eNqZ
- https://flic.kr/p/8iBS6c
- https://flic.kr/p/8iBS6c
- https://flic.kr/p/22

[2015-12-04 17:21] chettyarun commented on #7
Nice collection! I was working on an illustration though. Check the Invision link (last image: Ignore the titles and topography and check the illustration for now)

[2015-12-04 17:22] simison commented on #7
Oh totally, illustration is even better. Looks great! (https://invis.io/49567THBV)

[2015-12-04 17:24] simison commented on #7
@chettyarun:

We meant that the landing screen should be there, but just below the fold when scrolling down, we should have the list. One click less.

[2015-12-04 17:25] chettyarun commented on #7
There will be subtle animation in the illustrated scene. The cats tail, clouds will be a part of this subtle animation.

Looking forward to complete a major part of the project this weekend. :)

[2015-12-04 17:27] chettyarun commented on #7
@simison agree to your point :) i will design it in such a way that the couch list card will be visible slightly in the first screen

[2015-12-04 18:57] simison commented on #37
BTW `chat.hackercouch.com` could redirect to https://webchat.freenode.net/?channels=hackercouch for now?

[2015-12-04 20:39] captn3m0 commented on #37
Sounds good, I'll setup the redirect.

Speaking of chat, who has ops on the irc channel? We should get the topic changed to point to the new site.

[2015-12-04 20:49] captn3m0 commented on #37
Redirect setup using lightsaber.captnemo.in and working. We could change it to hackercouch.com/chat.html later perhaps where we can add instructions on joining the channel maybe

But for now, this feels good enough.

[2015-12-04 20:49] #37 closed

[2015-12-05 16:17] simison commented on #57
Yeah you're probably right, organic is good.

FYI:
https://twitter.com/alebaffa/status/672895272423456768
https://www.producthunt.com/tech/hackercouch

[2015-12-06 16:58] chettyarun commented on #7
https://invis.io/975771LVU  Landing Page.

[2015-12-07 02:25] simison commented on #7
@chettyarun, it says:

[2015-12-07 05:05] chettyarun commented on #7
Oops! Sorry. Here is the working link https://invis.io/SV57AUYAH

[2015-12-07 07:33] captn3m0 commented on #7
![image](https://cloud.githubusercontent.com/assets/584253/11621517/d9aa7c7a-9ce2-11e5-9945-cd7d9ac7faf7.png)

How do we count couches and hackers separately? Currently 1 couch = 1 hacker.

[2015-12-07 07:34] chettyarun commented on #7
I can add multiple couches, can't I?

[2015-12-07 09:33] captn3m0 commented on #7
Currently, no. Even if you do, we are not tracking who is adding a couch. So at the end, we just know the number of couches.

[2015-12-07 09:40] chettyarun commented on #7
Oh okay. I will change the stats then

[2015-12-07 09:41] chettyarun commented on #7
Can we add cities in place of hackers then?

[2015-12-07 10:54] captn3m0 commented on #7
Makes sense. A combination of "Country+City" to find unique cities. That should be doable.

[2015-12-08 05:38] chettyarun commented on #7
I have updated the couchsurfing page. Here is the invision link https://invis.io/QC57Y2KHJ

[2015-12-08 16:24] chreekat opened #75 "Encourage PGP"
I just put a note about my key in my "profile" section, but it would be great if it was a supported piece of metadata.

[2015-12-08 18:20] captn3m0 commented on #75
Even if we do, it won't be treated specially unless we decide to fetch keys from public servers (which might fail as well). Would the following work for you:

`pgp: 0x20068bfb`

YAML supports hexadecimal, so this should be fine.

[2015-12-08 18:26] chreekat commented on #75
Yeah I think that's all I was really expecting. :) I haven't looked at the
code or website too much to have ideas for how to show that on the UI,
though.

If keybase.io were a bigger thing, I suppose an alternative would be to
allow `keybase: chreekat` and link appropriately.

On Tue, Dec 8, 2015 at 10:20 AM, Nemo notifications@github.com wrote:

[2015-12-08 18:29] simison commented on #75
@chreekat adding new fields is pretty straightforward, these two files:
https://github.com/hackercouch/hackercouch/blob/gh-pages/_layouts/couch.html
https://github.com/hackercouch/hackercouch/blob/gh-pages/add.md

[2015-12-08 18:34] chreekat commented on #75
Cool, I'll poke at it later. :)

On Tue, Dec 8, 2015 at 10:29 AM, Mikael Korpela notifications@github.com
wrote:

[2015-12-09 13:55] captn3m0 commented on #40
Closing this, as now we have gravatars on the website.

[2015-12-09 13:55] #40 closed

[2015-12-09 16:32] jancborchardt commented on #40
@captn3m0 can we add them in the list on the homepage as well? Every occurence of a nickname / name should have the relevant avatar left next to them.

[2015-12-09 16:39] captn3m0 commented on #40
I make no promises on how ugly/good it will look, but I'll get to it. Will also replace the nicks on homepage with names.

[2015-12-09 17:41] chettyarun commented on #7
Updated the link https://invis.io/SV57AUYAH

[2015-12-09 17:51] simison commented on #7
Thanks. I'll have some offline-time today at the airplane; looking into turning this into HTML.

@captn3m0 how do you recon would be best to include MaterializeCSS into Jekyll? What's the usual way with Ruby/Jekyll?

https://github.com/polymorphic92/jekyll-Materialize (yep?)
https://github.com/mkhairi/materialize-sass (nope?)

[2015-12-09 18:53] captn3m0 commented on #7
The recommended way would be to just include the css framework and start rewriting the layout files.

To start with I'd just recommend including them from the CDN for now:

[code]

The [getting started](http://materializecss.com/getting-started.html) section has some templates and other details. Later, we can shift to the sass, and bundle it as per our needs, if its too heavy.

But for prototyping

[2015-12-09 20:24] simison commented on #7
:+1:  thanks

[2015-12-09 20:30] simison commented on #40
We'll have them on front page with the new layout, not worth putting effort on this unless new layout gets delayed, say, more than week.

From #7: https://projects.invisionapp.com/share/SV57AUYAH#/screens/120919514

[2015-12-09 22:13] captn3m0 commented on #40
Cool then. Will work on an API client instead, then.

[2015-12-09 22:18] simison commented on #40
I'd appreciate getting Fontello working as well! :-) (#25)

[2015-12-11 17:53] simison commented on #26
This is going in with #77

[2015-12-11 17:53] #26 closed

[2015-12-13 01:41] #53 closed

[2015-12-13 01:42] simison commented on #53
PR #77

[2015-12-26 03:09] krsoninikhil commented on #51
I would like to take this issue.

[2015-12-27 07:19] chettyarun commented on #7
Any update on this?

[2016-01-01 05:31] captn3m0 commented on #51
Closed now with #83 and #84

[2016-01-01 05:31] #51 closed

[2016-01-03 03:26] simison commented on #7
@chettyarun; nope, I had a couple weeks holidays, but I'll be flying long distance on 22nd so I foresee I'll be working then on this again. :-)

[2016-01-13 01:39] #57 closed

[2016-01-14 07:14] chettyarun commented on #7
Any updates?

[2016-01-14 09:07] chettyarun commented on #7
Oops Sorry! I didn't noticed the 22nd part! My bad.

Have a great time!

[2016-02-04 14:31] simison opened #89 "Migrate to Jekyll v3"
https://github.com/blog/2100-github-pages-now-faster-and-simpler-with-jekyll-3-0
https://jekyllrb.com/news/2015/10/26/jekyll-3-0-released/

It mostly works but with some bugs.
- [ ] Fix excerpts
- what else?

[2016-02-24 09:29] simison opened #92 "Do something about htmlproof link errors"
[code]

https://travis-ci.org/hackercouch/hackercouch/builds/111392333

via https://github.com/hackercouch/hackercouch/pull/91

[2016-02-24 10:24] chaitanyanettem commented on #92
Those two websites seem to be down. (http://hcardenas.com/ & http://www.adoptahacker.com/)

The first is listed as someone's website in their [couch](https://github.com/hackercouch/hackercouch/blob/master/_couches/tonocm.md). The second is in the related websites section.

One possible solution might be to catch HTML-Proofer exceptions and show a logo next to the URLs linked in the couches which i

[2016-02-24 12:06] captn3m0 commented on #92
Pushed a fix for the same. I like the htmlproofer suggestion. Another thing I did recently was setup http://nightli.es/ for hackercouch, which means we run builds every day now. So any build errors will be caught as soon as they happen rather than on the next PR.

[2016-02-24 12:09] captn3m0 commented on #92
Marking this as closed for now.

[2016-02-24 12:09] #92 closed

[2016-02-24 12:21] simison commented on #92
Good solution @captn3m0, thanks!

[2016-07-29 10:30] captn3m0 commented on #23
Somewhat tackling this in https://github.com/hackercouch/hackercouch/pull/106

[2016-08-10 11:36] simison commented on #89
FYI
- https://github.com/blog/2220-github-pages-to-upgrade-to-jekyll-3-2
- https://github.com/blog/2236-github-pages-now-runs-jekyll-3-2

[2016-09-01 06:39] chreekat opened #109 "Marking unavailability?"
I actually got a request through Hackercouch! Unfortunately I am 10 time zones away from the location listed in my profile. Oops.

I propose we agree on a standard for marking a profile unavailable. Create a subdirectory? Symlinks like Apache? Or append ".unavailable" to the profile markdown file?

[2016-09-01 06:41] chreekat commented on #109
Or the most obvious answer, a new field in the markdown file itself? But I'd rather use the filesystem. I'd also rather not have any extra logic; simply put the file somewhere (agreed-upon) where it won't be picked up by the system so it doesn't show up on the site.

[2016-09-01 08:51] simison commented on #109
Just like you forgot to mark yourself unavailable, people would probably forgot to mark themself available again. :-) How about "availability" field where once could update about future trips, e.g.:

`availability: Traveling this summer but back by Sep 1st`

We got a few couch-removals already, what do you think about removing the whole profile for unavailability?

[2016-09-01 09:08] chreekat commented on #109
Agreed about forgetting to mark re-available :)

Deleting is maybe best. I thought it would be nice to keep the file around for reference, but otoh there's something pleasing about the idea of using `git revert` to mark one's self available again.

[2016-09-01 09:12] chreekat commented on #109
I'm +0 on `'availability'`. I would use it, but I don't think it is necessarily useful information or worth implementing. Better to spend time on Trustroots.

[2016-09-01 09:24] simison commented on #109
:-D Aye! This will work real soon: https://www.trustroots.org/?tribe=hackers

Wanna write a quick _howto_? https://github.com/hackercouch/hackercouch/edit/master/add.md

[2016-09-01 09:41] #109 closed

[2016-09-27 19:37] bertelledani commented on #7
Hello there guys! :) I would be happy to help, but as far as I look the Invision link is not working. Could you please advise?

[2016-09-27 19:40] simison commented on #7
Hi @bertelledani! Great. :-) I have the designs on my computer, I'll post here soon.

Are your skills on design and/or HTML+CSS, too?

I already started with CSS using [MaterializeCSS](http://materializecss.com/):
https://github.com/hackercouch/hackercouch/pull/77

— it's like, almost ready :-) But I have no time to finish it. :-( Would you be intersted to continue from that? It's pretty simple te

[2016-09-27 19:51] captn3m0 commented on #7
@chettyarun Would it be possible to get the invision links working or alternatively just post the PNGs here?

[2016-09-27 19:53] simison commented on #7
Here are the files I've got:
https://www.dropbox.com/sh/kjmfdrxk5l1e18t/AABNUfC5A9TA3gxzBVf8qDyBa?dl=0

[2016-09-28 07:16] chettyarun commented on #7
Great! I'll add the PNGs here. My invision is full of other projects.

@bertelledani I've made the designs in sketch. If you are comfortable with sketch, I can share the source sketch files as well.

![landing 2x](https://cloud.githubusercontent.com/assets/1394688/18903987/8c06433e-8579-11e6-9397-ddd126a4105a.png)
![surfing page copy 2x](https://cloud.githubusercontent.com/assets/1394688/18903988/

[2016-09-28 13:18] jancborchardt commented on #7
@bertelledani awesome, welcome! I added you to the team so you can get involved more easily. If you like you can directly work on a branch of the repository. :)

[2016-09-29 10:53] bzz commented on #7
Great to see this resource getting it own unique face :)

If I'm not mistaken PNGs have a proposed new design, which looks awesome
and flat and material.

In case any feedback is in order here - how about instead of 1 lonely
computer on the coach to have 2 at least?

This will play the "social" theme of sharing the coach with other people,
who are also hackers and who supposedly will also have a l

[2016-09-29 14:27] chettyarun commented on #7
@bzz Sure! I'll give it a try this weekend. Will post the PNGs with two laptops on the couch.

[2016-10-03 15:56] jancborchardt commented on #7
@bzz yo, welcome! :) The laptop+couch was more because it’s a logo/icon so it needs to be reasonably simple. Two computers would be a bit complex.

It definitely needs to be bigger on the page, and next to the text »Hackercouch«. :)

[2017-03-21 06:35] captn3m0 commented on #89
Strikethroughs are broken as of now, because we get kramdown `1.9.x` while GFM strikethroughs were fixed in the 1.10.0 release: https://github.com/gettalong/kramdown/pull/307

Noted at https://hackercouch.com/couches/harman.html thanks to @harman28

Jekyll upgrade should fix this automatically.

[2017-03-21 06:38] captn3m0 commented on #89
Looks like we have kramdown pinned to `~>1.9` in the Gemfile. Attempting an upgrade :+1:

[2017-04-17 16:11] virtualkill opened #135 "Nice"
I just wanted to thank you for making this project

[2017-11-02 21:39] simison commented on #89
Done at https://github.com/hackercouch/hackercouch/pull/149

Kudos to @captn3m0 !

[2017-11-02 21:39] #89 closed

[2017-11-07 06:24] captn3m0 opened #151 "contact jancborchardt/hackercouch forks"
Wanted to put this out here to get some opinions before doing this:

Write a short mail to the various forks at https://github.com/jancborchardt/hackercouch/network and ask if they'd be interested in filing a PR to hackercouch.

The original upstream is mentioned as a inspiration on our about page, but the last activity on any on the forks was April 2016, so it might be worth migrating those here.

[2017-12-12 13:48] ashu17706 commented on #7
@chettyarun Your design PNGs looks cool.

Can you share sketch files. I want to work on this upcoming weekend. Let's launch redesigned app before 2017 ends (Finger's Crossed). :)

[2017-12-12 14:00] simison commented on #7
@ashu17706 that's great to hear. :-)

You should be able to find all needed graphics from https://github.com/hackercouch/hackercouch/pull/77 (I'll assign that for you — feel free to take it over or start a new branch)

[2017-12-12 14:02] chettyarun commented on #7
Made this 2 years ago :P I am sure I can make it much much better. Give me a week's time to refine the design and interaction?

[2017-12-12 14:04] simison commented on #7
I'd recommend moving forward with what we have, use the time and inspiration someone has now and refine from that onwards. :-) Although if you feel like improving it, you're free to do so as well! :-) Just be mindful of time/inspiration/effort etc.

[2017-12-12 14:05] chettyarun commented on #7
Makes sense. Go ahead with the implementation :-)

On Tue, Dec 12, 2017 at 7:34 PM, Mikael Korpela <notifications@github.com>
wrote:

--
*Chetty Arun*
Product Designer
Razorpay

[2017-12-12 16:15] ashu17706 commented on #7
makes sense to me as well. that let's finish what we have half done.
@simison Thanks, I'll follow the #77 issue thread and the branch.

[2017-12-14 09:24] captn3m0 commented on #7
Thanks a lot @chettyarun !

[2018-12-31 18:35] Akronix opened #170 "Error: redirection forbidden"
I'm trying to add my couch and I'm getting this error when run locally:
[code]

[2019-01-01 20:43] captn3m0 commented on #170
I tested this locally, and was not able to reproduce so far.

I tried against your committed file as well: https://github.com/Akronix/hackercouch/commit/285a2b7cc487fef17746a3eda3836b04a10287fa

The only change I'd suggest is to replace

`country: Spain` with `country: ES`, since we use the ISO codes, but I was able to run this even without the change.

(tested on ruby 2.5, though it should not ma

[2019-01-19 04:36] captn3m0 commented on #170
Try clearing your `_cache` directory and hopefully that should fix it.

[2019-01-19 16:37] Akronix commented on #170
It didn't I'm afraid...

[2019-01-19 19:41] captn3m0 commented on #170
Can you file the PR with your couch for now, and I'll make sure it gets merged.

[2019-01-19 22:01] Akronix commented on #170
I added my couch in https://github.com/hackercouch/hackercouch/pull/173

[2019-09-15 16:02] rohanharikr commented on #7
@chettyarun Awesome designs. I can bring this to life. :)

[2019-09-15 18:17] simison commented on #7
@rohanharikr that would be awesome! PRs welcome :-)

There is PR https://github.com/hackercouch/hackercouch/pull/77 but prolly easier to start from scratch.

[2019-09-15 18:26] rohanharikr commented on #7
@simison On it! Will start from scratch :)

[2019-10-01 10:13] captn3m0 commented on #151
Was done, we got some nice discussions as a result. Closing

[2019-10-01 10:13] #151 closed

[2019-10-01 10:13] captn3m0 commented on #170
Stale report, so closing. Likely fixed with ruby/jekyll upgrades since.

[2019-10-01 10:13] #170 closed

[2020-08-17 07:43] captn3m0 commented on #54
@simison The twitter.com/hackercouch account has been suspended right now (along with every other account I had access to via Tweetdeck). Can you check and file an appeal at https://help.twitter.com/forms/general?subtopic=suspended please?

[2020-08-17 08:04] simison commented on #54
@captn3m0 looking! 👍

[2020-11-04 16:19] ArionMiles opened #204 "Fields missing in the JSON API"
I am trying to build an alternative UI for it by making use of your JSON APIs and I'm seeing some discrepancies in the data returned by the JSON API and what's actually on the site.

1. The `content` field on `https://hackercouch.com/couches.json` returns the same string for all couches, to get the content specific to each hacker, I have to query their particular couch at `/couches/<hackerName>`

[2020-11-07 17:21] chagai95 opened #205 "Is this project still maintained? 🙈"
Is anyone still active here? Maybe it's time for a fork? Please show a sign of life 🙃
I PRed a few months ago to add my couch... No answer..
https://github.com/hackercouch/hackercouch/pull/201

[2020-11-13 10:07] captn3m0 commented on #205
Sorry, I missed the notification. Closing this, will get #201 merged.

[2020-11-13 10:07] #205 closed

[2020-11-13 10:18] captn3m0 commented on #204
The `content` parameter doesn't show up locally. Not sure what's the difference here between my local and CI environment. Investigating

[2020-11-13 10:35] #204 closed

[2020-11-17 09:43] ArionMiles commented on #204
Thanks for fixing the content parameter!

Though the social links are still missing in the JSON endpoints apart from email and github.